$ctnsm: ".container-sm";
$ctnmd: ".container-md";
$ctnlg: ".container-lg";
$ctnxl: ".container-xl";
$ctnxxl: ".container-xxl";
$colsm: ".col-sm";
$colmd: ".col-md";
$collg: ".col-lg";
$colxl: ".col-xl";
$colxxl: ".col-xxl";

/******** 
General Style
********/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** 
Grid System
********/

.row{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
}

.container, .container-fluid{
    width:100%;
    margin: auto;
}

.col {
    flex: 0 0 auto;
    flex-grow: 1;
    width: auto;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-4 {
    flex: 0 0 auto;
    width: calc(100% / 3);
}

.col-3 {
    flex: 0 0 auto;
    width: calc(100% / 4);
}

.col-2 {
    flex: 0 0 auto;
    width: calc(100% / 6);
}

.col-1 {
    flex: 0 0 auto;
    width: calc(100% / 12);
}

.col-sm, .col-md, .col-lg {
    flex:1 0 0%;
}

@media (min-width:576px) {
    .container, #{$ctnsm} {
        max-width:540px;
    }
    #{$ctnmd}, #{$ctnlg}, #{$ctnxl}, #{$ctnxxl} {
        max-width:100%;
    }
    #{$colsm}-12{
        flex: 0 0 auto;
        width: 100%;
    }
    #{$colsm}-6{
        flex: 0 0 auto;
        width: 50%;
    }
    #{$colsm}-4{
        flex: 0 0 auto;
        width: calc(100% / 3);
    }
    #{$colsm}-3{
        flex: 0 0 auto;
        width: calc(100% / 4);
    }
    #{$colsm}-2{
        flex: 0 0 auto;
        width: calc(100% / 6);
    }
    #{$colsm}-1{
        flex: 0 0 auto;
        width: calc(100% / 12);
    }
}

@media (min-width:768px) {
    .container, #{$ctnsm}, #{$ctnmd} {
        max-width:720px;
    }
    #{$colmd}-12{
        flex: 0 0 auto;
        width: 100%;
    }
    #{$colmd}-6{
        flex: 0 0 auto;
        width: 50%;
    }
    #{$colmd}-4{
        flex: 0 0 auto;
        width: calc(100% / 3);
    }
    #{$colmd}-3{
        flex: 0 0 auto;
        width: calc(100% / 4);
    }
    #{$colmd}-2{
        flex: 0 0 auto;
        width: calc(100% / 6);
    }
    #{$colmd}-1{
        flex: 0 0 auto;
        width: calc(100% / 12);
    }
}

@media (min-width:992px) {
    .container, #{$ctnsm}, #{$ctnmd}, #{$ctnlg} {
        max-width:960px;
    }
    #{$collg}-12{
        flex: 0 0 auto;
        width: 100%;
    }
    #{$collg}-6{
        flex: 0 0 auto;
        width: 50%;
    }
    #{$collg}-4{
        flex: 0 0 auto;
        width: calc(100% / 3);
    }
    #{$collg}-3{
        flex: 0 0 auto;
        width: calc(100% / 4);
    }
    #{$collg}-2{
        flex: 0 0 auto;
        width: calc(100% / 6);
    }
    #{$collg}-1{
        flex: 0 0 auto;
        width: calc(100% / 12);
    }
}

@media (min-width:1200px){
    .container, #{$ctnsm}, #{$ctnmd}, #{$ctnlg}, #{$ctnxl} {
        max-width:1140px;
    }
    #{$colxl}-12{
        flex: 0 0 auto;
        width: 100%;
    }
    #{$colxl}-6{
        flex: 0 0 auto;
        width: 50%;
    }
    #{$colxl}-4{
        flex: 0 0 auto;
        width: calc(100% / 3);
    }
    #{$colxl}-3{
        flex: 0 0 auto;
        width: calc(100% / 4);
    }
    #{$colxl}-2{
        flex: 0 0 auto;
        width: calc(100% / 6);
    }
    #{$colxl}-1{
        flex: 0 0 auto;
        width: calc(100% / 12);
    }
}

@media (min-width:1400px){
    .container, #{$ctnsm}, #{$ctnmd}, #{$ctnlg}, #{$ctnxl}, #{$ctnxxl}  {
        max-width:1320px;
    }
    #{$colxxl}-12{
        flex: 0 0 auto;
        width: 100%;
    }
    #{$colxxl}-6{
        flex: 0 0 auto;
        width: 50%;
    }
    #{$colxxl}-4{
        flex: 0 0 auto;
        width: calc(100% / 3);
    }
    #{$colxxl}-3{
        flex: 0 0 auto;
        width: calc(100% / 4);
    }
    #{$colxxl}-2{
        flex: 0 0 auto;
        width: calc(100% / 6);
    }
    #{$colxxl}-1{
        flex: 0 0 auto;
        width: calc(100% / 12);
    }
}

/******** 
Buttons
********/

.btn {
    display:inline-block;
    padding:.375rem .75rem;
    font-size:1rem;
    border-radius:.3rem;
    font-weight:400;
    line-height:1.5;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    cursor:pointer;
    user-select:none;
    background-color: transparent;
    border:1px solid transparent;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:focus{
    outline:0;
    box-shadow:0 0 0 .25rem rgba(13,110,253,.25);
}

.btn.disabled {
    pointer-events: none;
    opacity: .65;
}

.btn-primary {
    color:#fff;
    background-color:#0d6efd;
    border-color:#0d6efd;
}

.btn-primary:hover {
    color:#fff;
    background-color:#0b5ed7;
    border-color:#0a58ca;
}

.btn-primary:focus {
    color:#fff;
    background-color:#0b5ed7;
    border-color:#0a58ca;
    box-shadow:0 0 0 .25rem rgba(49,132,253,.5)
}

.btn-primary.disabled {
    color:#fff;
    background-color:#0d6efd;
    border-color:#0d6efd;
}

.btn-secondary {
    color:#fff;
    background-color:#6c757d;
    border-color:#6c757d;
}
    
.btn-secondary:hover {
    color:#fff;
    background-color:#5c636a;
    border-color:#565e64;
}

.btn-secondary:focus {
    color:#fff;
    background-color:#5c636a;
    border-color:#565e64;
    box-shadow:0 0 0 .25rem rgba(130,138,145,.5);
}

.btn-secondary.disabled {
    color:#fff;
    background-color:#6c757d;
    border-color:#6c757d;
}

.btn-success {
    color:#fff;
    background-color:#198754;
    border-color:#198754;
}

.btn-success:hover {
    color:#fff;
    background-color:#157347;
    border-color:#146c43;
}

.btn-success:focus {
    color:#fff;
    background-color:#157347;
    border-color:#146c43;
    box-shadow:0 0 0 .25rem rgba(60,153,110,.5);
}

.btn-success.disabled {
    color:#fff;
    background-color:#198754;
    border-color:#198754;
}

.btn-danger {
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545;
}

.btn-danger:hover {
    color:#fff;
    background-color:#bb2d3b;
    border-color:#b02a37;
}

.btn-danger:focus {
    color:#fff;
    background-color:#bb2d3b;
    border-color:#b02a37;
    box-shadow:0 0 0 .25rem rgba(225,83,97,.5);
}

.btn-danger.disabled {
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545;
}

.btn-warning {
    color:#000;
    background-color:#ffc107;
    border-color:#ffc107;
}

.btn-warning:hover {
    color:#000;
    background-color:#ffca2c;
    border-color:#ffc720;
}

.btn-warning:focus {
    color:#000;
    background-color:#ffca2c;
    border-color:#ffc720;
    box-shadow:0 0 0 .25rem rgba(217,164,6,.5);
}

.btn-warning.disabled {
    color:#000;
    background-color:#ffc107;
    border-color:#ffc107;
}

.btn-info {
    color:#000;
    background-color:#0dcaf0;
    border-color:#0dcaf0;
}

.btn-info:hover {
    color:#000;
    background-color:#31d2f2;
    border-color:#25cff2;
}

.btn-info:focus {
    color:#000;
    background-color:#31d2f2;
    border-color:#25cff2;
    box-shadow:0 0 0 .25rem rgba(11,172,204,.5);
}

.btn-info.disabled {
    color:#000;
    background-color:#0dcaf0;
    border-color:#0dcaf0;
}

.btn-light {
    color:#000;
    background-color:#f8f9fa;
    border-color:#f8f9fa;
}

.btn-light:hover {
    color:#000;
    background-color:#f9fafb;
    border-color:#f9fafb;
}

.btn-light:focus {
    color:#000;
    background-color:#f9fafb;
    border-color:#f9fafb;
    box-shadow:0 0 0 .25rem rgba(211,212,213,.5);
}

.btn-light.disabled {
    color:#000;
    background-color:#f8f9fa;
    border-color:#f8f9fa;
}

.btn-dark {
    color:#fff;
    background-color:#212529;
    border-color:#212529;
}

.btn-dark:hover {
    color:#fff;
    background-color:#1c1f23;
    border-color:#1a1e21;
}

.btn-dark:focus {
    color:#fff;
    background-color:#1c1f23;
    border-color:#1a1e21;
    box-shadow:0 0 0 .25rem rgba(66,70,73,.5);
}

.btn-dark.disabled {
    color:#fff;
    background-color:#212529;
    border-color:#212529;
}

.btn-link {
    font-weight:400;
    color:#0d6efd;
    text-decoration:underline;
}

.btn-link:hover {
    color:#0a58ca;
}

.btn-link.disabled {
    color:#6c757d;
}

/******** 
Images
********/

.img-rounded {
    border-radius:.25rem;
}

.img-circle {
    border-radius:50%;
}

.img-thumbnail {
    padding:.25rem;
    background-color:#fff;
    border:1px solid #dee2e6;
    border-radius:.25rem;
    max-width:100%;
    height:auto;
}

.img-blur {
    filter: blur(1rem);
}

/******** 
Color
********/

.text-primary {
    color: #0d6efd;
}

.text-secondary {
    color: #6c757d;
}

.text-success {
    color: #198754;
}

.text-info {
    color: #0dcaf0;
}

.text-warning {
    color: #ffc107;
}

.text-danger {
    color: #dc3545;
}

.text-light {
    color: #f8f9fa;
}

.text-dark {
    color: #212529;
}

.bg-primary {
    background-color: #0d6efd;
}

.bg-secondary {
    background-color: #6c757d;
}

.bg-success {
    background-color: #198754;
}

.bg-info {
    background-color: #0dcaf0;
}

.bg-warning {
    background-color: #ffc107;
}

.bg-danger {
    background-color: #dc3545;
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-dark {
    background-color: #212529;
}

/******** 
Alerts
********/

.alert-primary {
    color:#084298;
    background-color:#cfe2ff;
    border-color:#b6d4fe;
}

.alert-secondary {
    color:#41464b;
    background-color:#e2e3e5;
    border-color:#d3d6d8;
}

.alert-success {
    color:#0f5132;
    background-color:#d1e7dd;
    border-color:#badbcc;
}

.alert-info {
    color:#055160;
    background-color:#cff4fc;
    border-color:#b6effb;
}

.alert-warning {
    color:#664d03;
    background-color:#fff3cd;
    border-color:#ffecb5;
}

.alert-danger {
    color:#842029;
    background-color:#f8d7da;
    border-color:#f5c2c7;
}

.alert-light {
    color:#636464;
    background-color:#fefefe;
    border-color:#fdfdfe;
}

.alert-dark {
    color:#141619;
    background-color:#d3d3d4;
    border-color:#bcbebf;
}

/******** 
Visibility
********/

.visible {
    visibility:visible;
}

.invisible {
    visibility:hidden;
}

@media print {
    .visible-print {
        visibility:visible;
    }
    
    .invisible-print {
        visibility:hidden;
    }
}

@media (min-width:576px) {
    .visible-sm {
        visibility:visible;
    }
    .invisible-sm {
        visibility:hidden;
    }
}

@media (min-width:768px) {
    .visible-md {
        visibility:visible;
    }
    .invisible-md {
        visibility:hidden;
    }
}

@media (min-width:992px) {
    .visible-lg {
        visibility:visible;
    }
    .invisible-lg {
        visibility:hidden;
    }
}

@media (min-width:1200px){
    .visible-xl {
        visibility:visible;
    }
    .invisible-xl {
        visibility:hidden;
    }
}

@media (min-width:1400px){
    .visible-xxl {
        visibility:visible;
    }
    .invisible-xxl {
        visibility:hidden;
    }
}

/******** 
Navbars
********/

nav {
    display:flex;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none;
}

.navbar {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    padding-top:.5rem;
    padding-bottom:.5rem;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display:flex;
    flex-wrap:inherit;
    align-items:center;
    justify-content:space-between;
}

.nav-item {
    flex:1 1 auto;
    text-align:center;
    flex-basis:0;
    flex-grow:1;
    width: 100%
}