/******** 
General Style
********/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******** 
Row & Col
********/
.row {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
}

.container, .container-fluid {
  width: 100%;
  margin: auto;
}

.col {
  flex: 0 0 auto;
  flex-grow: 1;
  width: auto;
  background-color: #827c13;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
  background-color: #29f762;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
  background-color: #2ed035;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
  background-color: #2ffc26;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
  background-color: #1ee43d;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
  background-color: #ae2972;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
  background-color: #2ffd77;
}

.col-sm, .col-md, .col-lg {
  flex: 1 0 0%;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }

  .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 100%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}
@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}
@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1320px;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

/*# sourceMappingURL=input.css.map */
